.memoryPoint
{
    height: 15px;
    width: 15px;
    font-size:xx-large;
    color: rgb(98, 66, 103);
    margin-bottom: 1rem;
    /* background-color: blueviolet;
    border: 1px solid grey; */
}

.dividerNormal
{
    height: 1px;
    width: 100%;
    background-color: rgb(120,83,126);
    margin: 0.5rem 0;
}

.cutTheCakeBtn
{
    background-color: rgb(98, 66, 103);
    color: white;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}