.memoryPoint
{
    height: 15px;
    width: 15px;
    font-size:xx-large;
    color: rgb(98, 66, 103);
    margin-bottom: 1rem;
    /* background-color: blueviolet;
    border: 1px solid grey; */
}

.dividerNormal
{
    height: 1px;
    width: 100%;
    background-color: rgb(120,83,126);
    margin: 0.5rem 0;
}

.cutTheCakeBtn
{
    background-color: rgba(136, 37, 193, 0.699);
    color: white;
    font-weight: 400;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.specialMessageBtn
{
    margin: 0 auto;
    padding:0.5rem;
    width: fit-content;
    text-align: center;
    border: 2px solid rgb(117, 82, 117);
    background-color: rgba(136, 37, 193, 0.699);
    color: rgb(253, 221, 238);
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.toolTip
{
    background-color: rgb(240, 193, 247);
    color: rgb(252, 76, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: 400;
    width: 10rem;
    margin: 0.5rem auto;
}
.toolTipArrow
{
    position: relative;
    bottom: -2px;
    margin: auto;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent rgb(240, 193, 247) transparent;
    z-index: 3;
}